.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color, border .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);

  &--square {
    padding: 20px 30px;
    max-width: 200px;
    width: 100%;
    min-height: 50px;
    letter-spacing: 2px;
  }

  &--gray {
    color: $light-red-grey;
    border: 1px solid $light-red-grey;

    &:hover {
      color: rgba($white-color, 9);
      border: 1px solid rgba($white-color, .9);
    }
  }

  &--gray-black {
    color: $light-red-grey;
    border: 1px solid $light-red-grey;

    &:hover {
      color: $black-color;
      border: 1px solid $black-color;
    }
  }

  &--black-fill {
    color: rgba($white-color, 1);
    background-color: $dark-grey;
    border: 1px solid rgba($dark-grey, 1);

    &:hover {
      color: rgba($dark-grey, 1);
      background-color: $white-color;
      border: 1px solid rgba($dark-grey, 1);
    }
  }
}
