.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color, border .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);

  &--square {
    padding: 20px 30px;
    max-width: 200px;
    width: 100%;
    min-height: 50px;
    letter-spacing: 2px;
  }

  &--gray {
    color: $gray;;
    border: 1px solid $gray;

    &:hover {
      color: $mercury;
      border: 1px solid $mercury;
    }
  }

  &--transparent {
    color: $silver;
    border: 1px solid $silver;

    &:hover {
      color: $mine-shaft-lighter;
      border: 1px solid $mine-shaft-lighter;
    }
  }

  &--white {
    color: $mine-shaft;
    background-color: $white-color;
    border: 1px solid $white-color;

    &:hover {
      background-color: transparent;
    }
  }

  &--black-fill {
    color: $mercury;
    background-color: $mine-shaft;
    border: 1px solid $mine-shaft;

    &:hover {
      color: $mine-shaft-lighter;
      background-color: transparent;
      border: 1px solid $mine-shaft-lighter;
    }
  }
}
