.contact__title {
  margin: 0;
  margin-bottom: 45px;
}

.contact__body {
  display: flex;
}

.contact__body-item {
  flex: 0 1 50%;
}

.contact__map {
   min-height: 400px;
}

.contact__form {
  padding: 40px 50px 40px;
}

.contact__form-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 28px;
  letter-spacing: .4px;
  color: $mercury;
}

.contact__field {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;

  & .choices {
    margin-top: 14px;
    color: $gray;
  }

  & .choices__inner,
  & .choices__list--dropdown {
    font-size: 16px;
    border: 1px solid $gray;
    border-radius: 0;
    background-color: $mine-shaft;
  }
}

.choices[data-type*=select-one]:after {
  border-color: $gray transparent transparent transparent;
}

.choices[data-type*=select-one].is-open:after {
  border-color: transparent transparent $gray transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: $white-color;
  background-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 15.5px;
}

.choices__list--dropdown .choices__item {
  padding: 20px;
  font-size: 16px;
}

.contact__input,
.contact__select,
.contact__textarea {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 14px;
  color: $white-color;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid $gray;
  border-radius: 0;
}

.contact__textarea {
  resize: vertical;
  min-height: 82px;
  max-height: 150px;
}

.contact__button-send {
  font-size: 16px;
  text-transform: uppercase;
}
