.contact__title {
  margin: 0;
  margin-bottom: 45px;
}

.contact__body {
  display: flex;
}

.contact__body-item {
  flex: 0 1 50%;
}

.contact__map {
  height: 100%;
}

.contact__form {
  padding: 20px 50px 30px;
}

.contact__form-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 28px;
  letter-spacing: .4px;
  color: $mine-shaft;
}

.contact__field {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.contact__input,
.contact__select,
.contact__textarea {
  display: block;
  width: 100%;
  margin-top: 14px;
}
