.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;

  &::before {
    content: "";
    position: fixed;
    z-index: 0;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba($dark-blue-grey, 0.7);
    mix-blend-mode: difference;
    transition: 1s cubic-bezier(0.858, 0.01, 0.068, 0.99);
    transition-delay: 0.83s;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  padding: 20px 0;
  font-weight: 900;
  font-size: 42px;
  font-style: italic;
  line-height: 120%;
  letter-spacing: 5px;
  word-spacing: 1px;
  color: $white-main-shade;
  text-transform: uppercase;
}

.header__nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  display: block;
  padding: 80px 0;
  margin: 0;
  background-color: #111517;
  transition: 1s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition-delay: 0.7s;
  //transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.header__menu {
  position: relative;
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

.header__item {
  //padding: 0 15px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
}

.header__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  transform: translateY(-105%);
  font-size: 48px;
  letter-spacing: 2px;
  color: $white-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.767, 0.01, 0.18, 1.01);
  transition-delay: 0s;
}

.header__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 70%;
  height: 80%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#111517, 0.05);
  }

  &--overlay::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 72%;
    height: 82%;
    background-color: #111517;
    transform: translate(-50%, -50%);
    transition: 0.7s cubic-bezier(0.858, 0.01, 0.068, 0.99);
    transition-delay: 0s;
  }
}

.header__bg-image {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s cubic-bezier(0.19, 0.94, 0.336, 1);
  transform: scale(1.1);
}

.header__mail {
  margin: 0 25px;
  padding: 22px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  //border-left: 1px solid rgba($light-red-grey, 0.45);
  //border-right: 1px solid rgba($light-red-grey, 0.45);
  display: none;
}

.header__mail-icon {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  align-items: center;
}

.header__mail-svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  fill: $white-half-shade;
}

.header__mail-appeal {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  color: $white-half-shade;
}

.header__mail-address {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  color: $white-main-shade;
}

.header__burger {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 30px;
  display: block;
  margin: 0 10px;

  & span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $white-main-shade;
    //border-radius: 2px;
    transition: all 0.35s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:nth-child(1) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: topLineFromCrossToLine 1s forwards, topLineAppearsFromMiddle .7s forwards 1s;
    }

    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: middleLineFromCrossToLine 1s forwards;
    }

    &:nth-child(3) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: bottomLineAppears 1s forwards, bottomLineAppearsFromMiddle .7s forwards 1s;
    }
  }
}
/* Burger-click act1 */
@keyframes lineDisappear {
  100% {
    width: 0;
  }
}
/* Burger-click act2 */
@keyframes topLineRotate {
  0% {
    width: 100%;
    top: 50%;
    transform: translateY(-50%, -50%);
  }
  100% {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
/* Burger-click act3 */
@keyframes topLineCrossAfterRotate {
  100% {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(765deg);
  }
}
/* Burger-click act3 */
@keyframes middleLineToCross {
  100% {
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes lineAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//===========================================
//FROM CROSS TO LINES
//===========================================
@keyframes topLineFromCrossToLine {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition-timing-function: linear;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition-timing-function: linear;
  }
}

@keyframes middleLineFromCrossToLine {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition-timing-function: linear;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition-timing-function: linear;
  }
}

@keyframes topLineAppearsFromMiddle {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: linear;
  }
  100% {
    top: 0;
    transform: translateX(-50%);
    transition-timing-function: linear;
  }
}

@keyframes bottomLineAppears {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  99% {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes bottomLineAppearsFromMiddle {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: linear;
  }
  100% {
    top: 100%;
    transform: translate(-50%, -100%);
    transition-timing-function: linear;
  }
}
//===========================================
//FROM CROSS TO LINES
//===========================================

.header--active {
  &::before {
    right: 0;
    transition-delay: 0s;
  }

  .header__logo {
    z-index: 2;
    color: $light-red-grey;
  }

  & .header__nav {
    right: 0;
    transition-delay: 0.13s;
  }

  & .header__mail {
    display: none;
  }

  & .header__burger {
    & span {
      background-color: $light-red-grey;

      &:nth-child(1) {
        animation: lineDisappear 0.35s forwards 0.35s alternate,
                    topLineRotate 1.3s forwards 0.8s alternate,
                    topLineCrossAfterRotate 0.6s forwards 1.85s alternate;
      }

      &:nth-child(2) {
        animation: middleLineToCross 1s forwards 1.535s alternate;
      }

      &:nth-child(3) {
        animation: lineDisappear 0.35s forwards 0.3s alternate;
      }
    }
  }
}

.header__item--active .header__bg-image {
  opacity: 1;
  transform: scale(1);
}
.nav--active .header__bg--overlay::before {
  transform: translate(-50%, -150%);
  transition: 1s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition-delay: 1s;
}
.nav--active .header__link {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: 1.5s cubic-bezier(0.225, 1, 0.316, 0.99);
  transition-delay: 1s;
}

@media (max-width: 991.98px) {
  .header__menu {
    padding: 0 40px;
  }
  .header__item {
    margin-bottom: 14px;
  }
  .header__link {
    font-size: 38px;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .header__logo {
    font-size: 38px;
  }

  .header__menu {
    padding: 0 20px;
  }

  .header__item {
    margin-bottom: 12px;
  }

  .header__link {
    font-size: 32px;
  }

  .header__bg::after {
    background-color: rgba(17, 21, 23, 0.1);
  }
}

@media (max-width:479.98px) {
  .header__logo {
    font-size: 36px;
  }
  .header__bg {
    height: 70%;
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}

@media (max-width: 419.98px) {
  .header__logo {
    font-size: 32px;
  }
}

@media (max-width: 359.98px) {
  .header__logo {
    font-size: 30px;
  }
}
