.header {
    position: relative;
    margin-bottom: 100px;
    border-bottom: 1px solid rgba($light-red-grey, 0.45);

    &::before {
        content: '';
        position: fixed;
        z-index: 0;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        //background-color: rgba($dark-blue-grey, 0.7);
        background-color: rgba($dark-blue-grey, 0.7);
        mix-blend-mode: difference;
        transition: 1s cubic-bezier(.858, .01, .068, .99);
        transition-delay: .83s;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
    font-family: "LaicaA-Bold", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 1px;
    word-spacing: 1px;
    //color: #2d4d3e;
    color: $dark-blue-grey;
}

.header__nav {
    margin-right: 50px;
    margin-left: 20px;
    transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.header__menu {
    @include list-reset;
    display: flex;
    align-items: center;
}

.header__item {
    padding: 0 15px;
}

.header__link {
    font-family: "Forum-Regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.header__mail {
    margin: 0 25px;
    padding: 25px 20px;
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border-left: 1px solid rgba($light-red-grey, 0.45);
}

.header__mail-icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
}

.header__mail-svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.header__mail-appeal {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    font-family: "Forum-Regular", Helvetica, Arial, sans-serif;
}

.header__mail-address {
    font-family: "OldStandardTT-Bold", Helvetica, Arial, sans-serif;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.header__logo,
.header__nav {
    padding: 20px 0;
}

.header__burger {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 30px;
    display: none;
    margin: 0 10px;

    & span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $dark-blue-grey;
        transition: all .35s cubic-bezier(0.6, -0.28, 0.735, 0.045);

        &:nth-child(1) {
            top: 0;
            left: 50%;
            transform: translateX(-50%);            
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/* Burger-click act1 */
@keyframes lineDisappear {
    100% {
        width: 0;
    }
}
/* Burger-click act2 */
@keyframes topLineRotate {
    0% {
        width: 100%;
        top: 50%;
        transform: translateY(-50%, -50%);
    }
    100% {
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(720deg);
    }
}
/* Burger-click act3 */
@keyframes topLineCrossAfterRotate {
    100% {
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(765deg);
    }
}
/* Burger-click act3 */
@keyframes middleLineToCross {
    100% {
        transform: translateY(-50%) rotate(135deg);
    }
}

@keyframes lineAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header--active {

    &::before {
        right: 0;
        transition-delay: 0s;
    }

    & .header__nav {
        right: 0;
        transition-delay: .13s;
    }

    & .header__burger {

        & span {
            background-color: $light-red-grey;

            &:nth-child(1) {
                animation: lineDisappear .35s forwards .35s,
                            topLineRotate 1.3s forwards .8s,
                            topLineCrossAfterRotate .6s forwards 1.85s;
            }

            &:nth-child(2) {
                animation: middleLineToCross 1s forwards;
                animation-delay: 1.535s;
            }

            &:nth-child(3) {
                animation: lineDisappear .35s forwards .3s;
            }
        }
    }
}

@media(max-width: 1199.98px) {
    .header__nav {
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        display: block;
        padding: 80px 0;
        margin: 0;
        background-color: #111517;
        transition: 1s cubic-bezier(.858, .01, .068, .99);
        transition-delay: .7s;
    }
    .header__menu {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 0 80px;
    }
    .header__item {
        padding: 0;
        margin-bottom: 15px;

        & .header__item-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            width: 70%;
            height: 80%;

        }

        & .header__item-image {
            opacity: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s cubic-bezier(.19, .94, .336, 1);
            transform: scale(1.1);
        }

        &:nth-child(1) .header__item-image {
            background-image: url("../images/mobile_menu_bird_1.jpg");
        }
        &:nth-child(2) .header__item-image {
            background-image: url("../images/mobile_menu_bird_2.jpg");
        }
        &:nth-child(3) .header__item-image {
            background-image: url("../images/mobile_menu_bird_3.jpg");
        }
        &:nth-child(4) .header__item-image {
            background-image: url("../images/mobile_menu_bird_4.jpg");
        }
        &:nth-child(5) .header__item-image {
            background-image: url("../images/mobile_menu_bird_5.jpg");
        }

        &--active .header__item-image {
            opacity: 1;
            transform: scale(1);
        }
    }
    .header__link {
        position: relative;
        z-index: 1;
        font-size: 48px;
        letter-spacing: 2px;
        color: $white-color;
    }
    .header__burger {
        display: block;
    }
    .header__mail {
        border-right: 1px solid rgba($light-red-grey, 0.45);
    }
}