.hero-slider {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.hero-slider__slide {
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($mine-shaft-lighter, 0.1);
  }
}

.hero-slider__preview {
  position: absolute;
  z-index: 3;
  top: 19%;
  left: calc(50px + 8%);
  max-width: 630px;
  transform: translateY(50px);
  opacity: 0;
  padding: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: rgba($mine-shaft, .7);
  transition: .3s linear;
  transition-delay: .2s;
}

.hero-slider__title {
  overflow: hidden;
  margin: 0;
  margin-bottom: 30px;

  & span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    font-weight: 700;
    font-size: 46px;
    letter-spacing: 1.5px;
    line-height: 130%;
    color: $mercury;
  }
}

.hero-slider__text {
  overflow: hidden;
  margin: 0;
  margin-bottom: 50px;

  & span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: $silver;
  }
}

.hero-slider__show-more-wrapper {
  overflow: hidden;
}

.hero-slider__show-more {
  position: relative;
  display: inline-flex;
  transform: translateY(110%);
}

.hero-slider__block-appear > * {
  transition: .7s cubic-bezier(.17, .85, .438, .99);
  transition-delay: calc(.15s * var(--index) + 0.5s);
}

.hero-slider__wrapper {
  transition: .5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}

.hero-slider .swiper-slide-active {

  .hero-slider__preview {
    transform: translateY(0);
    opacity: 1;
  }

  .hero-slider__block-appear {

    & > * {
      transform: translateY(0);
    }

    & > .hero-slider__show-more {
      transition: color .25s cubic-bezier(0.858, 0.01, 0.068, 0.99) 0s,
                  border .25s cubic-bezier(0.858, 0.01, 0.068, 0.99) 0s,
                  transform .7s cubic-bezier(.17, .85, .438, .99) calc(.15s * var(--index) + 0.5s);
    }
  }
}

.hero-slider .hero-slider__pagination {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 0;
  width: auto;
  padding: 0 10px;
  padding-left: 30px;
  margin: 5px 0;
}

.hero-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  position: relative;
  //opacity: .38;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0;
  margin-bottom: 22px;
  background-color: $mercury;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border: 1px solid $gray;
    border-radius: 50%;
    background-color: transparent;
    transition: .4s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  }
}

.hero-slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  //opacity: 1;

  &::after {
    width: 18px;
    height: 18px;
    border: 1px solid $mercury;
  }
}

.hero-slider__button {
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 60px;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.hero-slider__prev {
  left: 50px;
  margin-right: 20px;

  &::before,
  &::after {
    position: absolute;
    z-index: 2;
    content: '';
  }

  &::before {
    top: 50%;
    width: 30px;
    height: 2px;
    right: 0;
    background-color: $mercury;
    transform: translateY(-50%);
    transition: .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  }

  &::after {
    width: 9px;
    height: 9px;
    top: 50%;
    transform: translateX(10px) translateY(-50%) rotate(45deg);
    border-bottom: 2px solid $mercury;
    border-left: 2px solid $mercury;
    transition: .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  }

  &:hover {

    &::before {
      width: 100%;
    }

    &::after {
      transform: translateX(0px) translateY(-50%) rotate(45deg);
    }
  }
}

.hero-slider__next {
  left: 100px;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    content: '';
  }

  &::before {
    top: 50%;
    width: 30px;
    height: 2px;
    left: 0;
    background-color: $mercury;
    transform: translateY(-50%);
    transition: .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  }

  &::after {
    width: 9px;
    height: 9px;
    top: 50%;
    transform: translateX(20px) translateY(-50%) rotate(45deg);
    border-top: 2px solid $mercury;
    border-right: 2px solid $mercury;
    transition: .25s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  }

  &:hover {

    &::before {
      width: 100%;
    }

    &::after {
      transform: translateX(30px) translateY(-50%) rotate(45deg);
    }
  }
}

@media (max-width: 799.98px) {

  .hero-slider .swiper-slide-active {

    .hero-slider__preview {
      left: 50%;
      transform: translateX(-50%);
      max-width: 590px;
      width: 100%;
    }
  }

  .hero-slider__title {
    margin-bottom: 26px;

    span {
      font-size: 40px;
    }
  }

  .hero-slider__text {
    margin-bottom: 44px;

    span {
      font-size: 18px;
    }
  }
}

@media (max-width: 767.98px) {

  .hero-slider__slide::after {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .hero-slider .hero-slider__pagination {
    top: auto;
    bottom: 65px;
    left: auto;
    right: 50px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .hero-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 0;
  }
}

@media (max-width: 699.98px) {
  .header__mail {
    display: none;
  }
}

@media (max-width: 649.98px) {
  .hero-slider .swiper-slide-active .hero-slider__preview {
    max-width: 95%;
  }
}

@media (max-width: 599.98px) {
  .hero-slider__title {
    margin-bottom: 22px;

    span {
      font-size: 36px;
    }
  }

  .hero-slider__text {
    margin-bottom: 40px;

    span {
      font-size: 17px;
    }
  }
}

@media (max-width: 549.98px) {
  .hero-slider__slide.swiper-slide {
    max-width: 100%;
  }

  .hero-slider .swiper-slide-active .hero-slider__preview {
    max-width: 100%;
  }

  .hero-slider__preview {
    left: 0;
    width: 100%;
    padding: 50px 25px;
  }
}

@media (max-width: 479.98px) {

  .hero-slider__preview {
    background-color: rgba($mine-shaft, 0.85);
  }

  .hero-slider__title {
    margin-bottom: 24px;

    span {
      font-size: 32px;
    }
  }
}

@media (max-width: 359.98px) {
  .hero-slider__title span {
    font-size: 30px;
  }

  .hero-slider .hero-slider__pagination {
    display: none;
  }
}
