.main__slider {
    margin-bottom: 140px;
}

.main__products {
  margin-bottom: 140px;
}

.main__types {
  margin-bottom: 140px;
}

.main__map {
  margin-bottom: 140px;
}

.main__cards {
  margin-bottom: 80px;
}

.main__history {
  margin-bottom: 160px;
  padding: 80px 0 55px;
}

.main__contact {
  margin-bottom: 100px;
}
