.map__title {
  margin: 0;
  margin-bottom: 50px
}

.map__body {
  background-color: $mercury;
}

.map__navigation {
  max-width: 100%;
  text-align: center;
}

.map__elements {
  position: relative;
  max-width: 1011px;
  height: auto;
  margin: 0 auto;
}

.map__img {
  max-width: 100%;
  border: 1px solid red;
}

.map__list {
  @include list-reset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map__item {
  position: absolute;
  z-index: 1;
  top: 165px;
  left: 650px;
  transform: translate(-50%, -50%);
}

.map__point {
  position: relative;
  //transform: translate(-50%, -50%);
  display: block;
  width: 14px;
  height: 14px;
  background-color: $cerulian-blue;
  border-radius: 50%;
  transition: .5s cubic-bezier(0.225, 1, 0.316, 0.99);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-color: $white-color;
    border-radius: 50%;
    transition: .5s cubic-bezier(0.225, 1, 0.316, 0.99);
  }

  &:hover {
    width: 16px;
    height: 16px;

    &::before {
      width: 26px;
      height: 26px;
    }
  }
}

.map__info {
  position: absolute;
  top: -10px;
  left: -140px;
  width: 100px;
  height: auto;
  padding: 5px 10px 15px;
  text-align: left;
  background-color: $white-color;

}

.map__image-icon {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.map__category {
  margin: 0;
  margin-bottom: 5px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 110%;
  color: $mine-shaft;
}

.map__model {
  margin: 0;
  font-family: $font-main;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: .2px;
  color: $mine-shaft-lighter;
}

