.map__title {
  margin: 0;
  margin-bottom: 50px
}

.map__body {
  padding: 10px 0 40px;
  background: linear-gradient(to right, rgba($mercury, .9), rgba($mercury, .6), rgba($mercury, .9)), url("/images/map/1.jpg") center 100% / cover no-repeat;

  &--cover {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(6px);
      backdrop-filter: blur(6px);
      background-color: rgba($gray, .5);
    }
  }
}

.map__navigation {
  max-width: 100%;
  text-align: center;
}

.map__elements {
  position: relative;
  max-width: 1011px;
  height: auto;
  margin: 0 auto;
}

.map__img {
  max-width: 100%;
}

.map__list {
  @include list-reset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map__item {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);

  &--grips {
    top: 165px;
    left: 650px;
  }

  &--brakes {
    top: 383px;
    left: 897px;
  }

  &--tires {
    top: 450px;
    left: 750px;
  }

  &--body {
    top: 320px;
    left: 620px;
  }

  &--engine {
    top: 385px;
    left: 460px;
  }

  &--exhaust {
    top: 320px;
    left: 160px;
  }

  &--seat {
    top: 210px;
    left: 370px;
  }
}

.map__point {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: $cerulian-blue;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    background-color: rgba($silver, .7);
    border-radius: 50%;
  }

  &::after {
    content: '✚';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transform-origin: center;
    width: 22px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
    color: $mercury;
    border-radius: 50%;
    transition: .6s cubic-bezier(.17, .85, .438, .99);
  }

  & .map__info {
    top: 50%;
    left: 50px;
    transform: translateY(-50%) translateX(-10px);

    &::before {
      left: -9px;
      border-width: 9px 10px 9px 0px;
      border-color: transparent $white-color transparent transparent;
    }
  }

  @media (min-width: 991.98px) {

    &:hover {

      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }

      & .map__info {
        transform: translateY(-50%) translateX(0);
        opacity: 1;
        visibility: visible;
        transition-duration: .6s;
      }
    }

    &--left-rotate {

      &::after {
        transform: translate(-50%, -50%) rotate(180deg);
      }

      & .map__info {
        top: 50%;
        left: auto;
        right: 50px;
        transform: translateY(-50%) translateX(10px);

        &::before {
          left: auto;
          right: -9px;
          border-width: 9px 0px 9px 10px;
          border-color: transparent transparent transparent $white-color;
        }
      }

      &:hover {

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }

        & .map__info {
          transform: translateY(-50%) translateX(0);
        }

      }
    }
  }
}

.map__info {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  padding: 10px 15px 10px 10px;
  display: flex;
  align-items: center;
  background-color: $white-color;
  transition: .3s cubic-bezier(.17, .85, .438, .99);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.map__image-icon {
  max-width: 50px;
  height: auto;
  margin-right: 13px;
}

.map__category {
  margin: 0;
  margin-bottom: 5px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 110%;
  color: $mine-shaft;
}

.map__model {
  margin: 0;
  font-family: $font-main;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: .2px;
  color: $mine-shaft-lighter;
}

.map__close {
  z-index: 1;
  position: absolute;
  top: -40px;
  right: -40px;
  display: none;
  width: 40px;
  height: 40px;
  font-weight: 400;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  color: $white-color;
}

.map__button {
  margin: 0 auto;
}

@media (max-width: 1199.98px) {

  .map__body {
    background-size: 180%;
  }

  .map__elements {
    max-width: 800px;
  }

  .map__img {
    max-width: 800px;
  }

  .map__item {

    &--grips {
      top: 125px;
      left: 505px;
    }

    &--brakes {
      top: 317px;
      left: 715px;
    }

    &--tires {
      top: 380px;
      left: 610px;
    }

    &--body {
      top: 255px;
      left: 490px;
    }

    &--engine {
      top: 315px;
      left: 370px;
    }

    &--exhaust {
      top: 255px;
      left: 120px;
    }

    &--seat {
      top: 170px;
      left: 302px;
    }
  }
}

@media (max-width: 991.98px) {

  .map__body {

    &--cover {

      & .map__item {
        opacity: 0;
        pointer-events: none;

        &--active {
          opacity: 1;
        }
      }
    }
  }

  .map__elements {
    max-width: 600px;
  }

  .map__img {
    max-width: 600px;
  }

  .map__item {
    //transition-delay: .3s;

    &--grips {
      top: 95px;
      left: 380px;
    }

    &--brakes {
      top: 227px;
      left: 530px;
    }

    &--tires {
      top: 288px;
      left: 460px;
    }

    &--body {
      top: 195px;
      left: 365px;
    }

    &--engine {
      top: 230px;
      left: 280px;
    }

    &--exhaust {
      top: 205px;
      left: 105px;
    }

    &--seat {
      top: 137px;
      left: 220px;
    }

    &--active {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      //transition-delay: .3s;

      & .map__point {
        background-color: transparent;

        &::before,
        &::after {
          display: none;
        }
      }

      & .map__info {
        opacity: 1;
        visibility: visible;
      }

      & .map__close {
        display: flex;
        pointer-events: auto;
      }
    }
  }

  .map__info {
    z-index: 1;
    position: absolute;
    min-width: 200px;
    min-height: 150px;
    padding: 20px 20px 25px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;

    &::before {
      display: none;
    }
  }

  .map__point .map__info {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-delay: .3s;
  }

  .map__image-icon {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100px;
  }

  .map__category {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 15px;
  }

  .map__model {
    font-size: 15px;
    line-height: 140%;
  }
}
