.section-title {
    font-weight: 800;
    font-size: 46px;
    color: $mercury;
    letter-spacing: 7px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 649.98px) {

      font-size: 42px;
    }

    @media (max-width: 549.98px) {

      font-size: 36px;
    }

    @media (max-width: 439.98px) {

      font-size: 32px;
    }

    @media (max-width: 379.98px) {

      font-size: 28px;
    }
}
