.types__title {
  margin: 0;
  margin-bottom: 50px;
}

.types__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.types__item {
  flex: 0 1 20%;
  max-width: 20%;
  min-height: 275px;
  padding: 0 15px;
  margin-bottom: 30px;
}

.types__inner {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba($white-color, .95);
  transition: .3s cubic-bezier(0.225, 1, 0.316, 0.99);

  @media (min-width: 1023.98px) {

    &:hover {
      background-color: transparent;

      & .types__image {
        transform: scale(1.15);
      }

      & .types__name {
        font-size: 52px;
        color: rgba($white-color, 1);
      }
    }
  }
}

.types__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(0.98);
  transition: .3s cubic-bezier(0.225, 1, 0.316, 0.99);
}

.types__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-main;
  font-weight: 700;
  font-size: 130px;
  line-height: 120%;
  letter-spacing: 1px;
  color: rgba($silver, .6);
  text-transform: uppercase;
  text-align: center;
  transition: .3s cubic-bezier(0.225, 1, 0.316, 0.99);
}

@media (min-width: 1023.98px) AND (max-width: 1599.98px) {

  .types__inner {

    &:hover {

      & .types__name {
        font-size: 42px;
      }
    }
  }

  .types__name {
    font-size: 110px;
  }
}

@media (max-width: 1399.98px) {

  .types__item {
    flex: 0 1 25%;
    max-width: 25%;
    min-height: 230px;
  }
}

@media (max-width: 1199.98px) {

  .types__item {
    flex: 0 1 33.333%;
    max-width: 33.333%;
    min-height: 215px;
  }

  .types__name {
    font-size: 92px;
  }
}

@media (max-width: 1023.98px) {

  .types__inner {
    background-color: transparent;
}

  .types__image {
    transform: scale(1);
  }

  .types__name {
    font-size: 36px;
    color: $white-color;
  }
}

@media (max-width: 991.98px) {

  .types__item {
    min-height: 195px;
  }
}

@media (max-width: 799.98px) {

  .types__item {
    min-height: 160px;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .types__name {
    font-size: 32px;
  }
}

@media (max-width: 699.98px) {

  .types__item {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 479.98px) {

  .types__list {
    margin: 0;
  }

  .types__item {
    padding: 0 5px;
  }

  .types__image {
    transform: scale(1);
    object-fit: contain;
  }

  .types__name {
    font-size: 28px;
  }
}

@media (max-width: 439.98px) {

  .types__name {
    font-size: 24px;
  }
}

@media (max-width: 419.98px) {

  .types__item {
    margin-bottom: 5px;
  }
}

@media (max-width: 379.98px) {

  .types__item {
    padding: 0 2px;
  }

  .types__name {
    font-size: 20px;
  }
}

@media (max-width: 339.98px) {

  .types__name {
    font-size: 18px;
  }
}
