$white-color: #ffffff;
$white-main-shade: rgba($white-color, .9);
$white-half-shade: rgba($white-color, .5);
$black-color: #000000;
$dark-blue-grey: #283234;
$light-red-grey: #737373;
$dark-grey: #111;